source https://api.nuget.org/v3/index.json

storage: none
framework: net6.0

group Main
    nuget coverlet.collector
    nuget FSharp.Compiler.Service 43.7.200.0
    nuget FSharp.Analyzers.SDK
    nuget FSharp.Core content: none
    nuget FsUnit.xUnit

    nuget Avalonia.FuncUI 0.6.0-preview9.1
    nuget Avalonia.FuncUI.Elmish 0.6.0-preview9.1

    nuget Avalonia != 11.0.0-preview6
    nuget Avalonia.Desktop prerelease
    nuget Avalonia.Diagnostics prerelease
    nuget Avalonia.Themes.Fluent prerelease
    nuget Avalonia.Angle.Windows.Natives ~> 2.1.0.0
    nuget MessagePack
    nuget MessagePack.FSharpExtensions
    nuget Microsoft.NET.Test.Sdk
    nuget xunit
    nuget xunit.runner.visualstudio

group PreviewApp
    source https://api.nuget.org/v3/index.json
    storage: none
    framework: net6.0
    
    nuget FSharp.Compiler.Service 43.7.200.0
    nuget Ionide.ProjInfo
    nuget Ionide.ProjInfo.FCS
    nuget Ionide.ProjInfo.ProjectSystem
    nuget Ionide.ProjInfo.Sln
    nuget Microsoft.Build copy_local: false
    nuget Microsoft.Build.Framework copy_local: false
    nuget Microsoft.Build.Utilities.Core copy_local: false
    nuget Microsoft.Build.Tasks.Core copy_local: false
    nuget Nuget.Frameworks copy_local: false



group Build
  source https://api.nuget.org/v3/index.json
  framework: net6.0
  storage: none

  nuget FSharp.Core
  nuget Fake.Api.GitHub
  nuget Fake.BuildServer.TeamFoundation
  nuget Fake.Core.Environment
  nuget Fake.Core.Process
  nuget Fake.Core.ReleaseNotes
  nuget Fake.Core.Target
  nuget Fake.Core.Xml
  nuget Fake.DotNet.AssemblyInfoFile
  nuget Fake.DotNet.Cli
  nuget Fake.DotNet.MSBuild
  nuget Fake.Dotnet.NuGet
  nuget Fake.DotNet.Paket
  nuget Fake.DotNet.Testing.XUnit2
  nuget Fake.IO.FileSystem
  nuget Fake.IO.Zip
  nuget Microsoft.Build 17.3.2
  nuget Microsoft.Build.Framework 17.3.2
  nuget Microsoft.Build.Tasks.Core 17.3.2
  nuget Microsoft.Build.Utilities.Core 17.3.2