type project
id SilkyFowl.Avalonia.FuncUI.LiveView
version 0.0.2-preview02
description Live fs/fsx previewer for Avalonia.FuncUI.
authors SilkyFowl
projectUrl https://github.com/SilkyFowl/Avalonia.FuncUI.LiveView
releaseNotes Fix package dependencies.
files ..\..\LICENSE.md ==> 
