type project
id SilkyFowl.Avalonia.FuncUI.LiveView.Analyzer
version 0.0.1.1
description Live fs/fsx previewer for Avalonia.FuncUI.
authors SilkyFowl
projectUrl https://github.com/SilkyFowl/Avalonia.FuncUI.LiveView
releaseNotes Support Avalonia.FuncUI v1.0.1.
files
    ..\..\LICENSE.md ==> 
    bin\Release\net6.0\publish ==> lib\net6.0
excludeddependencies FSharp.Analyzers.SDK
